---
// import BaseLayout from "../../layouts/BaseLayout.astro";
// import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BaseHead from "../../components/BaseHead.astro";
import PostMasonry from "../../components/PostMasonry.astro";

export async function getStaticPaths() {
	const PAGE_SIZE = 10;
    //   const allPosts = Object.values(
    //     import.meta.glob("../posts/*.md", { eager: true })
    //   );

    var allPosts = (await getCollection("blog")).sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
    );

    allPosts = allPosts.filter(
        (post: any) => post.data.tags && post.data.tags.length > 0,
    );

    const uniqueTags = [
        ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post: any) =>
            post.data.tags.includes(tag),
        );

		const lastPage = Math.max(1, Math.ceil(filteredPosts.length / PAGE_SIZE));

        return {
            params: { tag },
            props: {
				posts: filteredPosts.slice(0, PAGE_SIZE),
				page: {
					currentPage: 1,
					lastPage,
					url: {
						first: `/tags/${tag}`,
						prev: undefined,
						next: lastPage > 1 ? `/tags/${tag}/page/2` : undefined,
						last: lastPage > 1 ? `/tags/${tag}/page/${lastPage}` : undefined,
					},
				},
			},
        };
    });
}

const { tag } = Astro.params;
const { posts, page } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            main {
                width: 960px;
            }

            ul li:first-child {
                width: 100%;
                margin-bottom: 1rem;
                text-align: center;
            }
            ul li:first-child img {
                width: 100%;
            }
            ul li:first-child .title {
                font-size: 2.369rem;
            }

            @media (max-width: 720px) {
                ul li:first-child {
                    margin-bottom: 0;
                }
                ul li:first-child .title {
                    font-size: 1.563em;
                }
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <section>
                <PostMasonry posts={posts} page={page} />
            </section>
        </main>
        <Footer />
    </body>
</html>
