---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import PostMasonry from "../components/PostMasonry.astro";
import Showcase from "../components/Showcase.astro";

const PAGE_SIZE = 10;
var posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// 过滤掉无 tag 的文章
posts = posts.filter((post) => post.data.tags && post.data.tags.length > 0);

const lastPage = Math.max(1, Math.ceil(posts.length / PAGE_SIZE));
const pagePosts = posts.slice(0, PAGE_SIZE);
const page = {
	currentPage: 1,
	lastPage,
	url: {
		first: "/",
		prev: undefined,
		next: lastPage > 1 ? "/page/2" : undefined,
		last: lastPage > 1 ? `/page/${lastPage}` : undefined,
	},
};
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.App-logo {
				height: 40vmin;
				box-shadow: 0 0 20px var(--accent);
				pointer-events: none;
			}

			:global(.App-img) {
				vertical-align: middle;
			}

			.logo-container {
				gap: 30px;
				/* padding-bottom: inherit; */
				display: flex;
				align-items: center;
				text-align: center;
				justify-content: center;
			}

			hr {
				margin: 30px;
			}

			main {
				width: 960px;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div class="logo-container">
				<img src="/logo.webp" class="App-logo" />
				<p>
					投资 旅游 编程 健身
					<br />
					一万年太短，不争朝夕
					<br />
				</p>
			</div>

			<hr />
			<Showcase />
			<hr />

			<section>
				<PostMasonry posts={pagePosts} page={page} />
			</section>
		</main>

		<Footer />
	</body>
</html>
