---
import { getCollection } from "astro:content";
import Header from "../../../../components/Header.astro";
import Footer from "../../../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../../../consts";
import BaseHead from "../../../../components/BaseHead.astro";
import PostMasonry from "../../../../components/PostMasonry.astro";

export async function getStaticPaths({ paginate }: any) {
	const PAGE_SIZE = 10;
	let allPosts = (await getCollection("blog")).sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
	);

	allPosts = allPosts.filter((post) => post.data.tags && post.data.tags.length > 0);

	const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

	return uniqueTags.flatMap((tag) => {
		const filteredPosts = allPosts.filter((post: any) => post.data.tags.includes(tag));
		return paginate(filteredPosts, { pageSize: PAGE_SIZE, params: { tag } });
	});
}

const { tag } = Astro.params;
const { page } = Astro.props as any;

const fixedUrl = {
	...page.url,
	first: `/tags/${tag}`,
	prev: page.currentPage === 2 ? `/tags/${tag}` : page.url.prev,
	last: page.lastPage > 1 ? `/tags/${tag}/page/${page.lastPage}` : undefined,
};
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={`${SITE_TITLE} - ${tag} - Page ${page.currentPage}`}
			description={SITE_DESCRIPTION}
		/>
		<style>
			main {
				width: 960px;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<PostMasonry posts={page.data} page={{ ...page, url: fixedUrl }} />
			</section>
		</main>
		<Footer />
	</body>
</html>

